@(loggedIn: String)
<!-- header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

    <h1>
      <a class="navbar-brand" href="/">Fretou</a>
    </h1>
    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-lg-auto text-center">
      <li class="nav-item active  mr-3">
        <a class="nav-link" href="/">Inicio
          <span class="sr-only">(atual)</span>
        </a>
      </li>
      <li class="nav-item  mr-3">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item  mr-3">
        <a class="nav-link" href="/anuncios">Anúncios</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="#">Contato</a>
      </li>
      @if(loggedIn=="yes"){
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle fas fa-id-card-alt" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Painel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/usuario">Minha conta</a>
          <a class="dropdown-item" href="#">Sair</a>
        </div>
      </li>
    }else{
      <li class="nav-item mr-3">
        <a href="/inicio" class="nav-link fas fa-sign-in-alt"> Entrar</a> ou registrar-se
      </li>
    }
  </ul>
</div>

</nav>
</header>
<!-- //header -->
