@(loggedIn: String)
<i id="navmenu-toggle" class="fas fa-bars"></i>
<div class="navmenu" id="main-navmenu">
    <a href="/" class="navmenu-item logo">FRETOU</a>
    @if(loggedIn=="yes"){
        <a href="#" class="navmenu-item">
            INICIO
        </a>
        <div class="dropable-div">
            <button data-target="anuncios_menu" class="navmenu-item dropable position-relative">
                ANUNCIOS
                <i class="fas fa-caret-down"></i>
            </button>
            <div class="navmenu-dropdow-menu" id="anuncios_menu">
                <a href="#" class="dropdown-item">
                    <span>Listar Todos</span>
                </a>
                <span class="dropdown-item">
                    <span>Meus Anuncios</span>
                </span>
            </div>
        </div>
        <a href="#" class="navmenu-item">
            USUÁRIOS
        </a>
        <div class="dropable-div reverse">
            <button data-target="user_menu" class="navmenu-item dropable position-relative reverse">
              NOME USUÁRIO
              <i class="fas fa-caret-down"></i>
            </button>
            <div class="navmenu-dropdow-menu" id="user_menu">
                <a href="#" class="dropdown-item">
                    <span>Configurações</span><i class="fas fa-cog"></i>
                </a>
                <a href="/" class="dropdown-item">
                    <span>Sair</span><i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    }else{
        <a href="#" class="navmenu-item">
            CONTATO
        </a>
        <a href="/inicio" class="navmenu-item reverse">
            ENTRAR
        </a>
    }
</div>
