/* navmenu */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.navmenu {
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: white;
  font-family: "Roboto Mono", monospace;
  z-index: 99;
  margin-bottom: 20px;
}
.navmenu a {
  text-decoration: none;
}
.navmenu button {
  border: none;
  cursor: pointer;
  outline: none;
}
.navmenu .navmenu-item {
  padding: 1.5em 2em 1.5em 2em;
  font-size: 1em;
  position: relative;
  color: black;
  letter-spacing: 1px;
  background-color: white;
  cursor: pointer;
}
.navmenu .navmenu-item:hover {
  box-shadow: inset 0 -2px 0 black;
}
.navmenu .navmenu-item.reverse {
  background-color: black;
  color: white;
}
.navmenu .logo {
  margin-right: auto;
}

.dropable i {
  position: absolute;
  right: 50%;
  top: 60%;
  color: black;
  transform: translate(50%);
}

.dropable.reverse i {
  color: white;
}

.dropable-div {
  position: relative;
  background-color: white;
  color: black;
}
.dropable-div button {
  height: 100%;
}
.dropable-div .navmenu-dropdow-menu {
  position: absolute;
  width: fit-content;
  right: 0;
  bottom: 0;
  transform: translate(0, 100%);
  border: solid 1px gray;
  border-top: none;
  background-color: inherit;
  z-index: 99;
  color: inherit;
  display:none;
}
.dropable-div .navmenu-dropdow-menu.toggled {
    display:inline-block;
}
.dropable-div .navmenu-dropdow-menu .dropdown-item {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em 1em 2em;
  border-top: solid 1px gray;
  cursor: pointer;
}
.dropable-div .navmenu-dropdow-menu .dropdown-item i {
  margin-left: 0.5em;
}
.dropable-div .navmenu-dropdow-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.dropable-div .navmenu-dropdow-menu.true {
  display: block;
}
.dropable-div.reverse {
  background-color: black;
  color: white;
}
.dropable-div.reverse .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#navmenu-toggle{
    display:none;
}
/* fim navmenu */

/***********
* Homepage
***********/

#anuncio-home {text-align: center;margin-bottom: 15px;}
#anuncio-detalhes {display: block;}
#anuncio-detalhes .anuncio-miniatura {border-radius: 8px;display:block;max-width: 100%;height: auto;margin:0 auto;}
#anuncio-detalhes .anuncio-propostas {position: absolute; top: 20;right: 40;z-index: 100;background: #aaa; width: 35px; height: 35px;border-radius: 25px;color: #fff;font-weight: bold;font-size: 1.4em;}
#anuncio-detalhes .anuncio-propostas:hover {background: #999;}
#anuncio-detalhes .anuncio-propostas a {color: #fff;}
#anuncio-home .anuncio-titulo {display: block;font-size: 1.5rem;}
#anuncio-home .anuncio-localizacao {display:block;}

/*** WIP ***/
#anuncio-completo {}


@media only screen and (max-width: 1024px) {
    /* navmenu */
    #main-content{
        z-index: 9;
        margin-top:2em;
    }
    #navmenu-toggle{
        display:inline-block;
        position: fixed;
        top:1em;
        right:1em;
        z-index:999;
        font-size:2em;
    }
    .navmenu{
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        justify-content: flex-start;
        margin-left:100%;
        transition: 1s margin-left;
        background-color:rgba(255, 255, 255, 0.95);
    }
    .navmenu.toggled{
        margin-left:0;
        transition: 1s margin-left;
    }
    .dropable-div{
        height:fit-content;
        text-align:center;
    }
    .navmenu .navmenu-item{
        text-align:center;
    }
    .dropable-div button {
        width:100%;
    }
    .dropable-div .navmenu-dropdow-menu{
        width:100%;
    }
    /* fim navmenu */
}
