@(slug: String)

@main("Título do Anuncio", "no"){
  <div class="row">

    <div class="col-12">
      <div class="row">
        <div class="col-6 text-center">
          <h2>Titulo do anuncio</h2>
          <span>#id por Usuário</span> <br>
          Publicado em 00/00/2019
        </div>
        <div class="col-6 text-center">
          <h3>Valor sugerido: R$ 123</h3>
          <button class="btn btn-lg btn-secondary" type="button">Enviar proposta</button>
        </div>

      </div>
      <div class="row">
        <div class="col-12 my-3">
          <img src="https://placehold.it/500x260" class="mx-4">
          <img src="https://placehold.it/500x260" class="mx-4">
        </div>
        <div class="col-12 text-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare bibendum libero, at pretium quam. Integer rutrum fringilla odio bibendum aliquet. Morbi accumsan, urna et rutrum molestie, justo odio vulputate libero, eu sollicitudin justo ex eget dui. Ut varius tortor ullamcorper nibh mattis, quis dapibus eros blandit. Integer eu vestibulum magna. Ut pulvinar libero vitae efficitur eleifend. Cras ut neque nec velit semper pellentesque ut ac lacus. Quisque lorem risus, pretium eget nisl in, ornare porttitor ante.</p>
          <p>Curabitur posuere, elit vitae commodo cursus, odio ante pulvinar erat, ut lobortis urna quam id nunc. Nullam pharetra et risus sed egestas. Maecenas elementum ex sed purus blandit posuere. Nulla facilisi. Vivamus malesuada quam sed nisl congue gravida. Donec consequat neque non nunc ornare, eu porta arcu fermentum. Quisque non massa sed nisi efficitur volutpat. Quisque ac nibh hendrerit, placerat diam ac, pretium mi. Cras viverra dui nibh, vitae ornare est vehicula quis. Mauris porta blandit mi id mattis.</p>
          <p>Aenean egestas non diam id semper. Morbi congue erat at consectetur convallis. Aenean elementum erat eu nisi pretium, in pellentesque leo sodales. Sed eleifend eu libero non varius. Donec ac sapien elit. Vivamus vel ornare felis. Ut ultrices elit luctus, lobortis orci eu, suscipit velit. Fusce nulla metus, vulputate at sem in, iaculis pulvinar massa. Vivamus hendrerit urna a pretium posuere. Quisque ornare, nisi a accumsan vulputate, tellus quam euismod augue, sit amet mollis libero nunc eu dui. Phasellus iaculis lorem magna, quis placerat lacus sodales imperdiet. Vestibulum consectetur metus at est consequat suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum non tellus sed dictum. Mauris hendrerit nisl augue, id pulvinar quam fringilla a. </p>
        </div>
      </div>
    </div>

  </div>
}
