@(anuncio: Anuncio, propostaForm: Form[Proposta])
@import helper._

@scripts = {
<script type="text/javascript">

    function showPropostaForm() {
    let el = document.querySelector('#propostaForm');
    el.classList.toggle("d-none");
    }
  </script>
}

@main("Título do Anuncio","no", scripts){
  <div class="row">

    <div class="col-12">
      <div class="row">
        <div class="col-6 text-center">
          <h2>@anuncio.getTitulo()</h2>
          <span>Por @anuncio.getUsuarioId (Id do Usuário)</span> <br>
          Publicado em 00/00/2019
        </div>
        <div class="col-6 text-center">
          <h3>Valor sugerido: R$ 123</h3>
          <button class="btn btn-lg btn-secondary" type="button" onclick="showPropostaForm()">Enviar proposta</button>
        </div>
        <div class="col-12 d-none" id="propostaForm">
          <h3>Formulário de envio de propostas</h3>

          @helper.form(action = routes.PropostaController.realizar(anuncio.getId())) {
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" cols="30" rows="10" class="form-control"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Enviar proposta</button>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-3">
          <img src="https://placehold.it/500x260" class="mx-4">
          <img src="https://placehold.it/500x260" class="mx-4">
        </div>
        <div class="col-12 text-justify">
          <p>@anuncio.getDescricao()</p>
        </div>
      </div>
    </div>

  </div>
}

