@(p: Proposta)

@main("Titulo da Proposta", "yes"){
<div class="container my-5">
  <div class="row">

    <div id="sidebar" class="col-3 border-right">
      <h3>Conta</h3>
      <a href="#" class="menu-item">Informações da conta</a>
      <a href="#" class="menu-item">Informações pessoais</a>
      <a href="#" class="menu-item">Informações de segurança</a>
      <h3>Anúncios</h3>
      <a href="#" class="menu-item">Meus anúncios</a>
      <a href="/usuario/propostas" class="menu-item">Propostas</a>
    </div>
    <div class="col-9">
      <h2>#@p.id - @p.anuncio.titulo</h2>
      <div class="row">
        <div class="col-12">
          <p class="lead text-justify">@p.descricao</p>
            <span class="proposta-detalhes">Proposta enviada por <b>Usuario</b> em <b>@p.getData()</b></span>
            <div class="row mt-3">
            <form action='/usuario/propostas/responder/@p.id/aceitar' method="post" ><button class="btn btn-success btn-aceitar-proposta ml-3">Aceitar proposta</button></form>
            <form action='/usuario/propostas/responder/@p.id/recusar' method="post" class="float-right"><button class="btn btn-danger btn-recusar-proposta ml-3">Recusar proposta</button></form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
}
