@()
@r = @{new java.util.Random}
@****************
@main("www-fretou","no") {

  <div class="row">

    @for(i <- 1 to 12){
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div id="anuncio-home">
          <div id="anuncio-detalhes">
            <a href="/anuncio/@i">
              <img class="anuncio-miniatura" src="https://placehold.it/250x280">
            </a>
            <a class="anuncio-propostas" href="/anuncio/@i">@r.nextInt(25)</a>
          </div>
          <a class="anuncio-titulo" href="/anuncio/@i">Titulo Anuncio</a>
          <a class="anuncio-localizacao" href="/anuncio/@i">Localização - UF</a>
        </div>
      </div>
    }

  </div>

}
**************@

@main("Titulo da Proposta", "yes"){

  <div class="row">

    <div class="col-3 border-right">
      <h3>Conta</h3>
      <a href="#" class="menu-item">Informações da conta</a>
      <a href="#" class="menu-item">Informações pessoais</a>
      <a href="#" class="menu-item">Informações de segurança</a>
      <h3>Anúncios</h3>
      <a href="#" class="menu-item">Meus anúncios</a>
      <a href="/propostas" class="menu-item">Propostas</a>
    </div>
    <div class="col-9">
      <h2>Minhas propostas</h2>
      <span>Últimas propostas que você recebeu</span>

      <div class="row my-2">
        <div class="col-12">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">#123</th>
                <td><a href="/propostas/ver/3">Titulo do anuncio</a</td>
                <td>por Usuário</td>
                <td>feita em 00/00/2019 às 12:32</td>
              </tr>
              <tr>
                <th scope="row">#99</th>
                <td><a href="/propostas/ver/2">Titulo do anuncio</a</td>
                <td>por Usuário</td>
                <td>feita em 00/00/2019 às 10:23</td>
              </tr>
              <tr>
                <th scope="row">#25</th>
                <td><a href="/propostas/ver/3">Titulo do anuncio</a</td>
                <td>por Usuário</td>
                <td>feita em 00/00/2019 às 07:17</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

}
