@()
@r = @{new java.util.Random}

@main("www-fretou","no") {

  <div class="row">

    @for(i <- 1 to 12){
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div id="anuncio-home">
          <div id="anuncio-detalhes">
            <a href="/anuncio/@i">
              <img class="anuncio-miniatura" src="https://placehold.it/250x280">
            </a>
            <a class="anuncio-propostas" href="/anuncio/@i">@r.nextInt(25)</a>
          </div>
          <a class="anuncio-titulo" href="/anuncio/@i">Titulo Anuncio</a>
          <a class="anuncio-localizacao" href="/anuncio/@i">Localização - UF</a>
        </div>
      </div>
    }

  </div>

}
